div[mat-window].arrimada{
  margin-left: 0px;
  width: calc(100%);
  margin-top: 50px;
  margin-bottom: 0px;
  position: fixed;
  z-index: 3;
}
div[mat-window].lat-izq,div[mat-window].lat-der{
  margin-left: 1px;
  margin-top: 102px;
  width: calc(50% - 1px);
  margin-bottom: 70px;
}
div[lista] section[slot][cabecera][fija],
div[lista] section[busqueda][fija]{
  position: fixed !important;
  width: calc(50% - 1px) !important;
  z-index:3;
}
section[slot][cabecera][fija] + section[slot]{
  margin-top: 105px;
}
div[lista].comprimida{
  max-height: calc(100% - 200px);
}
div[lista] section[diferente]{
  color: #f44336;
}
div[mat-window] article[valor],div[mat-window] article[total]{
  float: left;
  margin-left: 0px;
}
div[mat-window].pieArrimada section[sector]{
  width: 50%;
  float:left;
}
div[mat-window] article[total]{
  width: 25%;
  padding-top: 20px;
  padding-bottom: : 20px;
}
div[mat-window] article[valor]{
    border-left: 1px solid #232323;
    border-right:  1px solid #232323;
    width: calc(25% - 22px);
    height: 20px;
    padding-right: 10px;
    padding-left:  10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
div[mat-window] article[diferencia]{
  float:right;
}
div[mat-window].pieArrimada{
  position: fixed;
  width: calc(100% - 2px);
  margin-left: 2px;
  z-index: 3;
  bottom: -10px;
  color: #1b5e20;
}
/*-----------------------------------------------botones--------------------------------------------------------------*/
div[botonera] button:hover:before{
    color:white;
    background-color: inherit;
    border-radius:5px;
    padding:5px;
    font-size: 9px;
    position:absolute;
}
div[botonera] button.btnDia:hover:before{
    content: 'Buscar Dia';
    margin-left:-70px;
}
div[botonera] button.btnFinca:hover:before{
    content: 'Agregar Finca';
    margin-left:-84px;
}
div[botonera] button.btnTablon:hover:before{
    content: 'Agregar Tablon';
    margin-left:-91px;
}
div[botonera] button.btnProductor:hover:before{
    content: 'Agregar Productor';
    margin-left:-104px;
}
button.btnNext,button.btnPrev{
  border: none;
  background-color: transparent;
  color: #607D8B !important;
  font-size: 32px !important;
  height: 32px !important;
}
/*-----------------------------------------------calendario-----------------------------------------------------------*/
td.fc-day.rh-activo{

}
td.fc-day-number.rh-activo{
  color: white;
}

td div[diaZafra]{
  font-size: 30px;
    margin-left: calc(50% - 10px);
    color: white;
    width: 20px;
    height: 40px;
    margin-top: calc(50% - 30px);
}
/*-----------------------------------------------leyenda--------------------------------------------------------------*/
section[pie] article{
  margin-left: 0px;
  float: left;
  padding: 5px;
}