div[mat-window].completo,div[mat-window].lat-izq,div[mat-window].lat-der{
  transition: all 0.5s ease-in-out;
  margin-left: 1px;
  margin-bottom: 1px;
}
div[mat-window].completo{
  margin-top: 51px;
  width: calc(100% - 2px);
}
div[mat-window].lat-izq{
  margin-top: 1px;
  width: calc(60% - 1px);
}
/******************************Lateral derecho*********************************/
div[mat-window].lat-der{
  margin-top: 1px;
  width: calc(40% - 1px);
  height: 250px;
}
section[sector].listado-dias,section[sector].formulario-dias{
  height: 250px;
  overflow-y: auto;
}
  /*--------------------------------efectos cambio----------------------------*/
  div[mat-window].lat-izq.reducir{
    width: calc(40% - 1px);
  }
  div[mat-window].lat-der.ampliar{
    width: calc(60% - 1px);
  }
  div[mat-window].lat-der section[sector].listado-dias.subir{
    margin-top: -250px;
  }
  section[sector].formulario-dias.comprimir{
    height: 200px;
  }
  /*------------------------------ estilos lista------------------------------*/
  section[estado]:after{
  	font-family: 'Material Icons';
  	font-size: 24px;
  	position:absolute;
  	top: 10px;
  	right: 15px;
  }
  section[estado='A']{
  	color: #8BC34A;
  }
  section[estado='A']:after{
  	content: 'lock_open';
  }
  section[estado='C']{
  	color: #f44336 ;
  }
  section[estado='C']:after{
  	content: 'lock_outline';
  }
  /*------------------------------ estilos Display Dia------------------------*/
  section[sector].formulario-dias{
    position:relative;
  }
  section[sector].formulario-dias button.chev-izq,section[sector].formulario-dias button.chev-der{
    position: absolute;
    top: 80px;
    background-color: transparent;
    z-index: 3;
    border: none;
    border-radius:100px;
    width: 50px;
    height: 50px;
    padding: 0px;
  }
  section[sector].formulario-dias button.chev-izq.invisible,section[sector].formulario-dias button.chev-der.invisible{
    visibility: hidden;
  }
  section[sector].formulario-dias button.chev-der{
    right: -10px;
  }
  section[sector].formulario-dias button.chev-izq{
    left: -10px;
  }
  div[formDia]{
    transition: all 0.5s ease-in-out;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: absolute;
    border:1px solid rgba(0,0,0,0.23);
  }
  section[cont-datos]{
    text-transform: capitalize;
    font-size: 12px;
    height: calc(100% - 50px);
  }
  section[cont-datos] article[general],section[cont-datos] article[cont-graf]{
    margin-left: 0px;
    padding: 0px;
    width: 50%;
    height: calc(100%);
    float: left;
  }
  section[cont-datos] article[datos]{
    font-size: 15px;
    width: 100%;
    float: left;
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    overflow: visible;
  }
  section[cont-datos] article[general] span{
    width: 50%;
    font-size: 11px;
    text-transform: capitalize;
    margin-left: 5px;
    color:white;
    border-radius: 5px;
    padding: 3px;
  }
  section[cont-datos] article[general] span[estado='C']{
    background-color:#f44336;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }
  section[cont-datos] article[general] span[estado='A']{
    background-color:#8BC34A ;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }
  section[cont-datos] article[cont-graf] div{
    width: calc(90%);
    margin-right: 10%;
    float: right;
  }
  section[cont-datos] article[cont-graf] article[cont-graf-tex]{
    position: absolute;
    bottom: 5px;
    text-transform: capitalize;
    left:20px;
  }
  section[cont-datos] article[cont-graf] article[wid-graf]{
    position: relative;
    max-width: 320px;
  }
