@import url("arbol.css");
r{
	float:right;
	margin-right: 20px;
}
l{
	float: left;
}

div[mat-window].arbol{
  width: calc(80% + 50px);
  float:left;
}

div[mat-window].form-lat{
  width: calc(40% + 50px);
  float:left;
}
div[hoja]:hover > article.icon-operaciones-negro-32:after,
div[hoja]:hover > article.icon-editar-negro-32:after,
div[hoja]:hover > article.icon-campo-negro-32:after,
div[hoja]:hover > div[peciolo] button[little-mat-button-invisible]:after{
  color:white;
}
@media only screen and (max-device-width: 480px) {
  div[mat-window].arbol,div[mat-window].form-lat{
    width: calc(100%);
    margin-left: 0px;
    float:left;
  }

}
