div[capaLog]{
	position: relative;
	top:calc(50% - 225px);
	left:calc(50% - 200px);
	margin-top: 80px;
	z-index: 1;
	overflow: visible;
	height: 400px;
}
div[loginForm]{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 0px auto;
	position: absolute;
	width: 400px;
	height: auto;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 200px;
}
div[loginForm] div{
	float:left;
	width: 100%;
}
div[loginForm] div[titulo]{
	background: #4CAF50;
    text-align: center;
    font-size: 35px;
    height: 75px;
    color: white;
}
div[capaLog] button[type='button']{
	margin-left: 370px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: #4CAF50;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 17px;
    border: none;
    top: 285px;
    z-index: 2;
}
div[loginForm] div[cuerpo]{
	border-bottom: 1px solid silver;
	height: 300px;
	background-color: white;
}
div[loginForm] div[cuerpo] input{
	float: left;
    margin: 4% 4%;
    padding: 15px 35px;
    border-radius: 3px;
    border: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 75%;
    outline: none;
    font-size: 17px;
}
div[loginForm] div[olvido]{
	width: 100%;
	text-align: center;
	color:silver;
	margin-top: 73px;
}
section[cuerpo]{
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
article[tituloAcesso]{
	border-bottom: 10px;
	width: 100%;
}
button[inicio]{
	border: 0px;
    background-color: white;
    width: 100px;
    height: 100px;
    color: #4CAF50;
    font-size: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    float:left;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}
button[inicio]:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
div[clear]{
	clear: both;
}
div[cont-log-input]{
    position: relative;
}
div[primero]{
    margin-top: 35px;
}
div[cont-log-input] i{
    position: absolute;
    top:30px;
    left:24px;
}
/*-----------------------------------Media screen-------------------------------*/
@media only screen and (max-device-width: 480px) {
    div[loginForm]{
        width: 90%;
        margin-left: 9%;
    }
    div[loginForm] div[cuerpo] input{
        width: 70%;
    }
    div[capaLog] button[type='button']{
        margin-left: 89%;
    }
}
