@import url("arbol.css");
r{
	float:right;
	margin-right: 20px;
}
l{
	float: left;
}

div[mat-window].arbol{
  width: calc(80% + 50px);
  float:left;
}

div[mat-window].form-lat{
  width: calc(40% + 50px);
  float:left;
}
div[hoja]:hover > article.icon-operaciones-negro-32{
  background-image: url('../imagenes/operaciones-blanco-32.png') !important;
}
