
.mat-blue500{
    background-color: #2196F3;
}
.mat-red500{
    background-color: #f44336;
}
.mat-pink500{
    background-color: #E91E63;
}
.mat-purple500{
    background-color: #9C27B0;
}
.mat-deeppurple500{
    background-color: #673AB7;
}
.mat-indigo500{
    background-color: #3F51B5;
}
.mat-lightblue500{
    background-color: #03A9F4;
}
.mat-cyan500{
    background-color: #00BCD4;
}
.mat-teal500{
    background-color: #009688;
}
.mat-green500{
    background-color: #4CAF50;
}
.mat-lightgreen500{
    background-color: #8BC34A;
}
.mat-lime500{
    background-color: #CDDC39;
}
.mat-yellow500{
    background-color: #FFEB3B;
}
.mat-amber500{
    background-color: #FFC107;
}
.mat-orange500{
    background-color: #FF9800;
}
.mat-deeporange500{
    background-color: #FF5722;
}
.mat-brown500{
    background-color: #795548;
}
.mat-gray500{
    background-color: #9E9E9E;
}
.mat-bluegrey500{
    background-color: #607D8B;
}
