body{
	margin: 0px;
	padding: 0px;
}
div[contenedor]{
	
}
div[cabecera]{
	background-color: #1B5E20;
	width: 100%;
	height: 48px;
	z-index: 10;
}
div[cabecera] button[menuBtn]{
	background-image: url('../imagenes/menu_24.png');
	background-repeat: no-repeat;
	background-position: 12px 12px;
	border-right: 1px solid silver;
	border-bottom: none;
	border-left:none;
	border-top:none;
	width: 48px;
	height: 48px;
	background-color: transparent;
	float:left;
}
div[cabecera] div[titulo]{
	color:white;
	font-size:25px;
	text-align: left;
	padding: 10px 80px;
}