.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-search {
    background-image: url('../imagenes/search.png');
}
.icon-guardar-indigo-32 {
    background-image: url('../imagenes/guardar-azul.png');
}
.icon-cerrar-rojo-32 {
    background-image: url('../imagenes/close.png');
}
.icon-nuevo-azul-claro-32 {
    background-image: url('../imagenes/nuevo-azul-claro-32.png');
}
.icon-operaciones-blanco-32 {
    background-image: url('../imagenes/operaciones-blanco-32.png');
}
.icon-operaciones-negro-32 {
    background-image: url('../imagenes/operaciones-negro-32.png');
}
