div[capaList]{
   width: 90%;
   background-color: white;
   height: auto;
   overflow: hidden;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin: 5%;  
   float:left;
}
div[capaList] section{
    width: 100%;
    background-color: white;
    height: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 0px 10px 10px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 1px
}
div[capaList] section:hover{
  background-color: #B2DFDB;
  color:white;
}

div[capaList] section[busqueda]{
  background-color:  #26A69A;
}
div[capaList] section[busqueda] input[campBusq]{
    border: none;
    padding: 8px;
    font-size: 15px;
    float: left;
    width: 70%;
}
div[capaList] section[busqueda] button[btnBusq]{
    border: none;
    /* border-radius: 100px; */
    width: 50px;
    height: 50px;
    background-color: #26A69A;
    background-image: url('../imagenes/search_32.png');
    background-repeat: no-repeat;
    background-position: 8px;
    float: right;
    margin: -10px 10px;
    border-left: 1px solid silver;
}
div[capaList] section:not([busqueda]) button{
    background-position: 16px;
    background-repeat: no-repeat;
    width:50px;
    height:50px;
    float: right;
    margin: -10px 10px 0px 0px;
    border-top:none;
    border-bottom: none;
    border-right: none;
    border-left:1px solid silver;
    display: none;
}
div[capaList] section:not([busqueda]){
  height: 30px;
}
div[capaList] section:not([busqueda]) button:last-child{
    margin-right: 0px;
}
div[capaList] section button[btnModificar]{
    background-color: transparent;
    background-image: url('../imagenes/pencil_green_16.png');  
}
div[capaList] section button[btnEliminar]{
    background-color: transparent;
    background-image: url('../imagenes/trash_red_16.png');
}