div[capaLog]{
	position: relative;
	top:calc(50% - 225px);
	left:calc(50% - 200px);
	margin-top: 80px;
	z-index: 1;
	overflow: visible;
	height: 400px;
}
div[loginForm]{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: 0px auto;
	position: absolute;
	width: 400px;
	height: auto;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 200px;
}
div[loginForm] div{
	float:left;
	width: 100%;
}
div[loginForm] div[titulo]{
	background: #4CAF50;
    text-align: center;
    font-size: 35px;
    height: 75px;
    color: white;
}
div[capaLog] button[type='button']{
	margin-left: 370px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: #4CAF50;
    position: absolute;
    background-image: url('../imagenes/send_white.png');
    background-repeat: no-repeat;
    background-position: 17px;
    border: none;
    top: 285px;
    z-index: 2;
}
div[loginForm] div[cuerpo]{
	border-bottom: 1px solid silver; 
	height: 300px;
	background-color: white;
}
div[loginForm] div[cuerpo] input{
	float: left;
    margin: 4% 4%;
    padding: 15px 35px;
    border-radius: 3px;
    border: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 75%;
    outline: none;
    font-size: 17px;
}
div[loginForm] div[cuerpo] input[type='text']{
	margin-top: 50px;
	background-image: url('../imagenes/person.png');
	background-repeat: no-repeat;
	background-position: 4px 10px;
}
div[loginForm] div[cuerpo] input[type='password']{
	background-image: url('../imagenes/lock_outline.png');
	background-repeat: no-repeat;
	background-position: 4px 10px;
}
div[loginForm] div[olvido]{
	width: 100%;
	text-align: center;
	color:silver;
	margin-top: 73px; 
}

div[clear]{
	clear: both;
}