div.campo-identificacion{
    margin-left: 0px !important;
    float: left;
    overflow: visible;
    position: relative;
    z-index: 4;
    width: 32%;
}
div[campo-rif].combo-letra{
  width:28%;
}
div[campo-rif].campo-numero{
  width: 44%;
}
div[campo-rif].campo-final{
  width: 28%;
}
div[campo-cedula].combo-letra{
  width:30%;
}
div[campo-cedula].campo-numero{
  width: 70%;
}
