div[campoBusqueda]{
  width: 32%;
  position: relative;
  padding-top: 5px;
  margin-left: 0px !important;
  float: left;
}
div[campoBusqueda][area]{
  width: 100%;
}
div[campoBusqueda] div[formelements]{
  width: calc(100%);
}
div[campoBusqueda] button{
  position: absolute;
  margin-left: calc(100% - 35px);
  z-index: 10;
  margin-top: 3px;
}
div[capa='contenido'] div[lista] section[busqueda]{
  width: 100%;
}
button.mat-but-transp{
  transition: all 0.2s ease-in-out;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    z-index: 10;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: 12px;
    float: left;
    overflow: visible;
}
div[campoBusqueda] select{
  padding: 6px 9px 7px 9px;
}
