.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-search {
    background-image: url('../imagenes/search.png');
}
.icon-guardar-indigo-32 {
    background-image: url('../imagenes/guardar-azul.png');
}
.icon-cerrar-rojo-32 {
    background-image: url('../imagenes/close.png');
}
.icon-nuevo-azul-claro-32 {
    background-image: url('../imagenes/nuevo-azul-claro-32.png');
}
.icon-operaciones-blanco-32,
{
    background-image: url('../imagenes/operaciones-blanco-32.png');
}
.icon-operaciones-negro-32 {
    background-image: url('../imagenes/operaciones-negro-32.png');
}
.icon-editar-blanco-32 {
    background-image: url('../imagenes/editar-blanco-32.png');
}
.icon-editar-negro-32 {
    background-image: url('../imagenes/editar-negro-32.png');
}
.icon-campo-negro-32 {
    background-image: url('../imagenes/campo-negro-32.png');
}
.icon-campo-blanco-32 {
    background-image: url('../imagenes/campo-blanco-32.png');
}
/*                Material Icons Google                  */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* colores iconos */
.blue500{
    color: #2196F3 ;
}
.red500{
    color: #f44336 ;
}
.pink500{
    color: #E91E63 ;
}
.purple500{
    color: #9C27B0 ;
}
.deeppurple500{
    color: #673AB7 ;
}
.indigo500{
    color: #3F51B5 ;
}
.lightblue500{
    color: #03A9F4 ;
}
.cyan500{
    color: #00BCD4 ;
}
.teal500{
    color: #009688 ;
}
.green500{
    color: #4CAF50 ;
}
.lightgreen500{
    color: #8BC34A ;
}
.lime500{
    color: #CDDC39 ;
}
.yellow500{
    color: #FFEB3B ;
}
.amber500{
    color: #FFC107 ;
}
.orange500{
    color: #FF9800 ;
}
.deeporange500{
    color: #FF5722 ;
}
.brown500{
    color: #795548 ;
}
.gray500{
    color: #9E9E9E ;
}
.bluegrey500{
    color: #607D8B ;
}
.white{
    color: #fff ;
}
