div[capaMenu]{
    position: relative;
	height: 100%;
    width: 350px;
    top: 0;
    left: 0;
    margin-top: 48px;
    transition: all 0.5s ease-in-out;
    position: fixed;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-left: -350px;
    z-index: 999;
    background-color: white;
}
div[capaMenu] section[titulo],div[capaMenu] section[pie]{
    width: 100%;
    height: 55px;
    position: absolute;
    float: left;
    background-color: white;
    background-color: #7b7b7b;
}
div[capaMenu] section[titulo]{
    color: white;
    padding-left:5px; 
    font-size: 22px;
}
div[capaMenu] section[pie]{
    bottom:48px; 
}
div[SubCapaMenu]{
    float:left;
    transition:all 0.2s linear;
    position: absolute;
    width: 100%;
    height: calc(100% - 152px);
    overflow-y:visible;
    overflow-x:hidden; 
    opacity: 0; 
    margin-top: 56px;
}
div[SubCapaMenu].capaActiva{
    margin-left: 0px !important;
    margin-right: 0px !important;
    opacity: 1 !important;
}
div[SubCapaMenu].siguiente{
    margin-left: 100% !important;
    opacity: 0 !important;
}
div[SubCapaMenu].anterior{
    margin-left: -100% !important;
    opacity: 0 !important;
}
div[SubCapaMenu] section{
    width: calc(100% - 20px);
    background-color: white;
    height: 30px;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 8px 10px 10px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1px;
    margin-left: 1px;
    color: #4CAF50;
    background-repeat: no-repeat;
}
div[SubCapaMenu] section[seleccionado]{
    margin-left: 10px !important;
    background-color: #a5d6a7;
    color: white;
}
div[SubCapaMenu] section[enlace^='>'][seleccionado]{
   background-image:  url('../imagenes/forward_white.png');
}
div[SubCapaMenu] section[enlace^='>']{
   background-image:  url('../imagenes/forward_green.png');
   background-position: 100% 50%;
}
div[SubCapaMenu] section[enlace^='<']{
    background-image:  url('../imagenes/backward_green.png');
    background-position: 100% 50%;
}
div[capamenu] section[pie] article{
    width: 48px;
    height: 48px;
    float: right;
    border-left: 1px solid white;
    margin: 0px 1px;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
}
div[capamenu] section[pie] article:hover{
    background-color: #E0E0E0;
}
div[capamenu] section[pie] article[off]{
    background-image:  url('../imagenes/off-white.png');
    background-position: 0 50%;
}
div[capamenu] section[pie] article[contac]{
    background-image:  url('../imagenes/contactanos-white.png');
    background-position: 0 50%;
}
div[capamenu] section[pie] article[seguridad]{
    background-image:  url('../imagenes/seguridad-white.png');
    background-position: 0 50%;
}
div[capamenu] section[pie] article[books]{
    background-image:  url('../imagenes/books-white.png');
    background-position: 2px 50%;
    width: 54px
}
div[capamenu] section[pie] article[off]:hover{
    background-image:  url('../imagenes/off.png');
}
div[capamenu] section[pie] article[contac]:hover{
    background-image:  url('../imagenes/contactanos.png');
}
div[capamenu] section[pie] article[seguridad]:hover{
    background-image:  url('../imagenes/seguridad.png');
}
div[capamenu] section[pie] article[books]:hover{
    background-image:  url('../imagenes/books.png');
}
.retroceso{
    background-image:  url('../imagenes/backward_white.png');
    background-position: 97% 50%;
    background-repeat: no-repeat;
}
