
div[capa] {
    transition: all 0.5s ease-in-out;
}
div[capa='exterior'] {
    width: calc(100%);
    height: calc(100%);
    background-color: black;
    position: fixed;
    z-index: 10;
    opacity: 0;
}
div[capa='contenido'] {
    background-color: white;
    top: 100%;
    left: calc(50% - 30%);
    width: 60%;
    height: auto;
    position: absolute;
    z-index: 12;
    margin-bottom: 50px;
    opacity: 0;
}
div[capa='contenido'].aparecer{
    top:calc(50% - 250px);
    opacity:1;
}
div[capa='contenido'].ancho{
    width: calc(90%);
    left: calc(5%)
}
div[capa='contenido'] section[cabecera] {
    width: 100%;
    height: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 25px;
}
div[capa='contenido'] section[cabecera].error, div[capa='contenido'] section[cabecera].informacion, div[capa='contenido'] section[cabecera].advertencia {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 60px;
}
div[capa='contenido'] section[cabecera].error {
    background-color: #f44336;
}
div[capa='contenido'] section[cabecera].informacion {
    background-color: #3F51B5;
}
div[capa='contenido'] section[cabecera].advertencia {
    background-color: #FFC107;
}
div[capa='contenido'] section[cabecera].error i, 
div[capa='contenido'] section[cabecera].informacion i, 
div[capa='contenido'] section[cabecera].advertencia i{
    top: 7px;
    left: 7px;
    position: absolute;
}
div[capa='contenido'] section[pie].error {
    background-color: #E57373;
}
div[capa='contenido'] section[pie].advertencia {
    background-color: #FFD54F;
}
div[capa='contenido'] section[cuerpo] {
    transition: all 0.3s ease-in-out;
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 18px;
    overflow: visible;
}
div[capa='contenido'] section[cuerpo].lista {
    padding: 0px;
    margin-top: 0px;
}
div[capa='contenido'] section[pie] {
    width: 100%;
    height: 60px;
    background-color: #A5D6A7;
    position: absolute;
    bottom: 0px;
    transition: all 0.3s linear;
}
div[capa='contenido'] section[pie] section[modalbuttons] {}
div[capa='contenido'] section[pie] section[modalbuttons] button {
    transition: all 0.2s ease-in-out;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    z-index: 10;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 8px;
    float: right;
    overflow: visible;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}
div[capa='contenido'] section[pie] section[modalbuttons] button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
div[capa='contenido'] section[cuerpo] div[texto]{
    margin-left: 24px;
    margin-right: 24px;
}
div[capa='contenido'] div[lista]{
    margin: 0px 0px 60px 0px;
}
div[capa='contenido'] div.ContenedorCarga{
    margin-top: 15px !important;
}
