<style>
    *{
        font-size:14px;
        color:black;
    }
    div[titulo]{
        margin-left:40px;
        font-size:25px;
    }
    div#reporte{
        margin-left:40px;
        font-size:15px;
        color: silver;
    }
    div[cont-zafra]{
        float:left;
        font-size:15px;
    }
    div[cont-zafra] span{
        color:black !important;
        font-size: 15px;
        margin:10px;
    }
    table{
        text-align:center;
        width:100%;
    }
    tr[superior] td:not([vacio]){
        border:1px solid silver;
    }
    tr:not([superior]) td{
        border-bottom:1px dashed black;
    }
    /*TD*/
    td[td1]{
        width:5%;
    }
    td[nombre-finca]{
        width:10%;
        font-size:10px;
    }
    td[td3]{
        width:3%;
    }
    td[td4]{
        width:3%;
    }
    td[td5]{
        width:3%;
    }
    td[td6]{
        width:5%;
    }
    td[td7]{
        width:5%;
    }
    td[td8]{
        width:5%;
    }
    td[td9]{
        width:3%;
    }
    td[td10]{
        width:7%;
    }
    td[td11]{
        width:5%;
    }
    td[td12]{
        width:5%;
    }
    td[td13]{
        width:5%;
    }
    td[td14]{
        width:5%;
    }
    td[td15]{
        width:5%;
    }
    td[td16]{
        width:5%;
    }
    td[td17]{
        width:5%;
    }
    td[td18]{
        width:5%;
    }
    td[td19]{
        width:5%;
    }
</style>
<div titulo>Resumen de Produccion por finca Estimado Vs Real</div>
<div id='reporte'>Código: BkUi3un-g</div><br>
<div cont-zafra>Zafra:<span>{{nombre_zafra}}</span></div>
<div cont-zafra>Fecha Inicio:<span>{{fecha_inicio}}</span></div>
<div cont-zafra>Fecha Final:<span>{{fecha_final}}</span></div>
<div cont-zafra>Fecha Dia Zafra:<span>{{fecha_dia}}</span></div>
<table>
    <tr superior>
        <td colspan='2' vacio></td>
        <td colspan='5'>Resumen General Reg Agronomicos</td>
        <td colspan='3' vacio></td>
        <td colspan='6'>Total caña cosechada</td>
        <td colspan='3'>Total Azucar</td>
    </tr>
    <tr superior>
        <td colspan='2' vacio></td>
        <td colspan='3'>Area</td>
        <td colspan='2'>Toneladas</td>
        <td colspan='2'>Total area</td>
        <td >Caña estimada</td>
        <td colspan='2'>Esimado</td>
        <td colspan='2'>Real</td>
        <td >Desv.</td>
        <td >Edad</td>
        <td colspan='3'>Real</td>
    </tr>
    <tr>
        <td td1>Finca Letra</td>
        <td nombre-finca>Nombre finca</td>
        <td td3>Semilla</td>
        <td td4>Cana</td>
        <td td5>Total</td>
        <td td6>Ton/Ha</td>
        <td td7>TotalEst</td>
        <td td8>Cortada</td>
        <td td9>Por Cortar</td>
        <td td10>Por Cosechar</td>
        <td td11>Total/Ton</td>
        <td td12>Ton/Ha</td>
        <td td13>Total/Ton</td>
        <td td14>Ton/Ha</td>
        <td td15>%</td>
        <td td16>Corte</td>
        <td td17>Total/Ton</td>
        <td td18>Ton/Ha</td>
        <td td19>Rdto</td>
    </tr>
</table>
